openstack_region     = "CHANGE_ME_REGION"
external_network_name = "CHANGE_ME_NETWORK"
image_name            = "Ubuntu 22.04"
instance_type         = "CHANGE_ME_FLAVOR"
allowed_cidr          = "203.0.113.10/32"
webui_secret_key      = "A_FOURNIR_PAR_VARIABLE_D_ENVIRONNEMENT"
